; Example file for "Shift+F1" feature
; ======================================================================================================================
; max length --------------------------------------------------------------------------------------------------------->|
; ======================================================================================================================
- My standard footer, D:\FIDO\FOOTER\NETMAIL.SIG
- Another file, D:\FIDO\DATABASE\INFO.TXT
; ======================================================================================================================
*Hi*    |Only *Hi* will be printed!
AAMOF    As a matter of fact (very rare)
AFAIC    As Far As I'm Concerned
AFAIK    As Far As I Know
AFK      Away From Keyboard
AIJ      Am I Jesus?
AISI     As I See It
AKA      Also Known As
ANFAWFOS And Now For A Word From Our
         Sponsor
APA      Amateur Press Association
ASAFP    As Soon As Friggin' Possible
ASAP     As Soon As Possible
AWGTHTGTATA  Are We Going To Have To Go
             Through ALL This Again?
AWGTHTGTTA   Are We Going To Have To Go
             Through This Again?
AYOR     At Your Own Risc
B4       Before
BBIAB    Be Back In A Bit
BBL      Be Back Later
BCNU     Be Seeing You
BFHD     Big fat hairy deal (a la
         Garfield the Cat (cery rare))
BNF      Backus-Naur-Form
BNF      Big Name Fan
BOT      Back On Topic
BTHOM    Beats the hell outta me!
BTW      By The Way
CU       See You
CUL      Catch You Later
CUL      See You Later
CUL8R    See You Later
CWYL     Chat With You Later
DDD      Direct Distance Dial (as in the
         phone system)
DIIK     Damned if I know
DILLIGAD Do I Look Like I Give A Darn?!
DILLIGAF Do I Look Like I Give A
         [*CENSORED*]
DNPM     Darn Near P***ed Myself
EOD      End Of Discussion
EOF      End Of File
EOL      End Of Lecture
EOT      End of Thread
FIAWOL   Fandom Is A Way Of Life
FIJAGH   Fandom Is Just A Goddamn Hobby
FIMD     Foot-In-Mouth Disease (open
         mouth,insert foot,echo 
         internationally)
FITB     Fill In The Blank
FTASB    Faster Than A Speeding Bullet
FTL      Faster Than Light
FUBAR    Fouled Up Beyond All Repair
FUBB     Fouled Up Beyond Belief
FWIW     For What It's Worth
FYBITS   F..k You, Buddy, I'm The Sysop
FYI      For Your Information
GD&R     Grinning, ducking & running
GIGO     Garbage In, Garbage Out
GIWIST   Gee, I Wish I'd Said That
GUI      Graphical User Interface
HAK      Hugs And Kisses
HHO 1/2 K    Ha, Ha, Only Half Kidding
HHOK     Ha, Ha, Only Kidding
HIH      Hope It Helps!
HTH      Hope this Helps!
HUA      Heads Up, Ace
IAC      In Any Case
IANAL    I Am Not A Lawyer
IBTD     I Beg To Differ
IC       I See
IIANM    If I Am Not Mistaken
IITYWIMWYBMAD If I Tell You What It
              Means Will You Buy Me A
              Drink?
IITYWTMWYKM   If I Tell You What This
              Means Will You Kiss Me?
IIWM     If It Were Me (Mine)
ILSHIBAMF  I Laughed So Hard I Broke
           All My Furniture!
IMHO     In My Humble Opinion
IMNSHO   In My Not So Humble Opinion
IMO      In My Opinion
INPO     In No Particular Order
IOW      In Other Words
JAUA     Just Another Useless Answer 
JSNM     Just Stark Naked Magic
KISS     Keep It Simple, Stupid
L8R      Later
LAB&TYD  Life's A Bitch & Then You Die.
LAGNAF   Let's All Get Naked And 
         [*CENSORED*]
LD       Long Distance
LLTA     Lots and Lots of Thunderous (or
         Thundering) Applause
LOL      Laughing Out Loud
LTIP     Laughing Til' I Puke
MSG      Message
MTBF     Mean Time Between Failure
MTFBWY   May The Force Be With You
MYOB     Mind Your Own Business
NBFD     No Big F...ing Deal
NFI      No Friggin' Idea
NFW      No Friggin' Way!!
NIH      Not Invented Here (Very common
         at Microsoft)
NIMBY    Not In My Back Yard
NINO     No Input, No Output
OATUS    On A Totally Unrelated Subject
OAUS     On An Unrelated Subject
OBTW     Oh, By The Way
OFTPATHIRIO Oh F..k This Place And The
            Horse It Rode In On!
OIC      Oh!  I See
ONNA     Oh No, Not Again
ONNTA    Oh No, Not This Again
OOTC     Obligatory On-Topic Comment
OTOH     On The Other Hand
OTOOH    On The Other Other Hand
OTTOMH   Off The Top Of My Head
OWTTE    Or Words To That Effect
PFM      Pure F...ing Magic
PITA     Pain In The Arse
PMIGBOM  Put Mind In Gear, Before
         Opening Mouth
POTS     Plain Old Telephone Service
POV      Point Of View
POWER-PC Performance Optimization With
         Enhanced RISC Performance Chip
PPP      Petty Pet Peeve
RAEBNC   Read And Enjoyed, But No 
         Comment  (an APAabbreviation)
REXMAN   Relax, EXperiment, and read
         your owner`s MANuals
RISC     Reduced Instruction Set
         Computer
ROFL     Rolling On Floor Laughing!
ROFLASTC Rolling On Floor Laughing And
         Scaring The Cat!
ROFLGO   Rolling On Floor Laughing Guts
         Out!
ROFLMAO  Rolling On Floor Laughing My
         A** Off
ROTFL    Rolling on the floor, laughing
ROTFLAHMS  Rolling On The Floor Laughing
           And Holding My Sides
ROTFLSTCIIHO Rolling on the floor
             laughing scaring the cat 
             if I had one
ROTFLBTCPIMP  Rolling on the floor
              laughing biting the carpet
              and pissing in my pants
RSN      Real Soon Now
RTFM     Read The F*cking Manual!
RTFM     Read The Farging Manual!
RTFM     Read The Fershlugginer Manual!
RTFM     Read The Flaming  Manual!
RTFM     Read The Freaking Manual!
RTFM     Read The Friggin' Manual!
RTFMA    Read The Friggin' Manual, Again
RTWFQ    Read The Whole Friggin'
         Question (a pers TRIV fave)
RYFM     Read Your Friggin' Manual!
RYS      Read Your Screen
SAPFU    Surpassing All Previous 'Foul'
         Ups
SICS     Sitting In Chair Snickering
SNAFU    Situation Normal, All F*cked Up
SNAFU    Situation Normal, All Fouled Up
SOI      Stunk On Ice
SOL      S*** Out Of Luck
SWAG     Super Wild A** Guess
TANJ     There Ain't No Justice  (Niven)
TANSTAAFL   There Ain't No Such Thing As
            A Free Lunch
TARFU    Things Are _Really_ Fouled Up
TGAL     Think Globally, Act Locally
THANX    Thanks
THX      Thanks
TINWIS   That Is Not What I Said
TLA      Three Letter Acronym
TNSTAAFL There's No Such Thing As A Free
         Lunch
TNX      Thanks
TOYM     Turn On Your Mind!
TPTB     The Powers That Be
TRDMC    Tears Running Down My Cheeks
TSR      Terminate and Stay Resident
TTBOMK   To The Best Of My Knowledge
TTFN     Ta Ta For Now
TTUL     Talk To You Later
TTYAWFN  Talk To You A While From Now
TTYL     Talk To You Later
TYCLO    Turn Your CAPS LOCK Off
         (Quit Shouting)
WAG      Wild A** Guess
WDYMBT   What Do (or Did) You Mean By
         That?
WGAS     Who Gives A [*CENSORED*]?!
WIBAMU   Well, I'll Be A Monkey's Uncle
WMMOWS   Wash My Mouth Out With Soap!
WNOHGB   Where No One Has Gone Before
WT       Without Thinking
WTFZDN   What The FUCKK Zit Doin' Now?
WTH      What the Heck
WTTM     Without Thinking Too Much
WYLABOCTGWTR Would You Like A Bowl Of 
            Cream To Go With ThatRemark?
WYLASOMWTC Would You Like A Saucer Of 
           Milk With ThatComment?
WYSBYGI  What You See Before You Get It
WYSIWYG  What You See Is What You Get
YAOTM    Yet Another Off-Topic Message
